.image img {
	clear: both;
	display: block;
	max-width: 330px;
	margin: auto;
}

body {
	margin-top: 0px;
}

.search {
	margin: auto;
	width: 32em;
}

.buttons {
	clear: both;
	margin: auto;
	width: 16em;
	padding: 10px;
	
}

input[type=text] {
	margin: auto;
	border: none;
	height: 1.5em;
}

input[type=button] {
	margin: 5px;
	padding: 8px;
	background-color: #F2F2F2;
	border: 1.5px solid #D9D9D9;
}

#searchdiv {
	max-width: 33em;
	margin: auto;
	border: 1px solid #D9D9D9;
	height: 1.8em;
}

#mic, #keyboard{
	padding-top: 2px;
	display: relative;
}

#inside {
	float: right;
}

#search {
	padding-top: 3px;
	padding-left: 5px;
	width: 85%;
}

#search:focus {
	border: none;
	outline: none;
}

#nav li {
	font-family: arial;
	font-size: 0.8em;
	list-style: none;
	display: inline;
	margin: 10px;
	margin-top: 0px;
	display: table-cell;
	vertical-align: middlle;
}

td {
	font-family: arial;
	font-size: 0.8em;
	height: 50px;
	width: 45px;
	vertical-align: middle;
}

nav {
	float: right;
	margin-bottom: 80px;
}

#name {
	color: grey;
}

.nav:hover {
	text-decoration: underline;
}

.icon {
	opacity: 0.5;
}

.icon:hover {
	opacity: 1;
}

#navic {
	margin-left: 7px;
	margin-top: 5px;
}

#bell {
	margin-top: 4px;
}